.detail-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 5px 0;
}

.detail-title {
    color: rgba(49, 53, 59, 0.96);
    font-weight: bold;
}

.detail-image {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 50px;
}

.detail-info {
    width: 100%;
}

.detail-name {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0 0 1rem 0;
}

.detail-sold {
    font-size: 0.9em;
    margin: 0 0 2rem 0;
}

.detail-dot {
    font-size: 0.9em;
    margin: 0 0.5rem 2rem 0.5rem;
}

.detail-stock {
    font-size: 0.9em;
    margin: 0 0 2rem 0;
}

.detail-price {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0 0 2rem 0;
}

.detail-desc {
    color: #757575;
    font-size: 0.9em;
    margin: 2rem 0;
}

.back-arrow {
    width: 25px;
    height: 25px;
    margin: 8px 20px 0 0;
}

.detail-info a {
    width: 100%;
    text-decoration: none;
}

.detail-info button {
    border: none;
    background-color: #45b54a;
    color: #FCFEFF;
    width: inherit;
    padding: 8px 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.detail-info .admin button {
    border: none;
    color: #FCFEFF;
    width: 35%;
    padding: 8px 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.detail-info .admin #Edit button {
    border:none;
    background-color: #45b54a;
}
.detail-info .admin #Delete button {
    border:none;
    background-color: #d8414a;
}

.detail-info button:hover {
    opacity: 0.75;
    transition-duration: 0.2s;
}

@media screen and (max-width: 1280px) {
    .detail-image {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .detail-image {
        width: 250px;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 800px) {
    .detail-image {
        width: 200px;
        height: 170px;
        object-fit: cover;
        border-radius: 10px;
        margin-right: 0;
    }

    .detail-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 5px 0;
    }

    .detail-name {
        margin: 1rem 0 1rem 0;
    }

    h4 {
        text-align: center;
    }

    p {
        margin-block-start: 0;
        text-align: center;
    }

    .admin {
        display: flex;
        justify-content: center;
    }

    .detail-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .detail-info a {
        width: 90px;
        margin: 0 5px;
    }

    .detail-info .admin button {
        width: 90px; 
    }

    #sold-stock {
        justify-content: center;
    }

    .detail-sold, .detail-stock, .detail-price {
        margin-bottom: 1rem;
    }

    .detail-desc {
        margin: 0 0 1.5rem 0;
    }

    .detail-dot {
        margin: 0 0.5rem 1rem 0.5rem;
    }

    hr {
        display: none;
    }
}