.detail-title {
    color: rgba(49, 53, 59, 0.96);
    font-weight: bold;
}

.detail-image {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 50px;
}

.detail-info {
    width: 100%;
}

.detail-name {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0 0 1rem 0;
}

.detail-sold {
    font-size: 0.9em;
    margin: 0 0 2rem 0;
}

.detail-dot {
    font-size: 0.9em;
    margin: 0 0.5rem 2rem 0.5rem;
}

.detail-stock {
    font-size: 0.9em;
    margin: 0 0 2rem 0;
}

.detail-price {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0 0 2rem 0;
}

.detail-desc {
    color: #757575;
    font-size: 0.9em;
    margin: 2rem 0;
}

.back-arrow {
    width: 25px;
    height: 25px;
    margin: 8px 20px 0 0;
}

.detail-info a {
    width: 100%;
}

.detail-info button {
    border: none;
    background-color: #45b54a;
    color: #FCFEFF;
    width: inherit;
    padding: 8px 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.detail-info .admin button {
    border: none;
    color: #FCFEFF;
    width: 35%;
    padding: 8px 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.detail-info .admin #Edit button {
    border:none;
    background-color: #45b54a;
}
.detail-info .admin #Delete button {
    border:none;
    background-color: #d8414a;
}

.detail-info button:hover {
    opacity: 0.75;
    transition-duration: 0.2s;
}