* {
    font-family: "Manrope", sans-serif;
}

body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 210px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 5px 0;
}

.subtitle {
    color: #757575;
}
