* {
    font-family: "Manrope", sans-serif;
}

body {
    margin: 0;
    overflow-y: scroll
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 210px 60px 210px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 5px 0;
}

.subtitle {
    color: #757575;
}

.page-header {
    color: rgba(49, 53, 59, 0.96);
    font-weight: bold;
    margin: 2rem 0;
}

@media screen and (max-width: 1280px) {
    .container {
        margin: 0 120px 60px 120px;
    }
}

@media screen and (max-width: 800px) {
    .container {
        margin: 0 20px 60px 20px;
    }
}