.purchase-title {
    color: rgba(49, 53, 59, 0.96);
    font-weight: bold;
}

.purchase-image {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 50px;
}

.purchase-info {
    width: 100%;
}

.purchase-name {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0 0 1rem 0;
}

.purchase-stock {
    font-size: 0.9em;
    margin: 0 0 2rem 0;
}

.purchase-price {
    font-size: 1em;
    margin: 0 0 2rem 0;
}

.purchase-total {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    font-weight: bold;
    font-size: 1em;
    margin: 0 0 2rem 0;
}

.back-arrow {
    width: 25px;
    height: 25px;
    margin: 8px 20px 0 0;
}

.purchase-info .row {
    height: 35px;
    align-items: center;
    margin: 0;
}

.purchase-info a {
    width: 100%;
}

.purchase-info button {
    border: none;
    background-color: #45b54a;
    color: #fcfeff;
    width: inherit;
    padding: 8px 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.purchase-info button:hover {
    opacity: 0.75;
    transition-duration: 0.2s;
}

.purchase-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.purchase-form input {
    width: 30%;
    outline: 1px solid #45b54a;
}
